body{
   background: linear-gradient(to bottom, #000000, #5f5204);
    color: #FFFF;
    padding:  5% 10% 0 10% ;
    height: 100vh;
}

h1{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA500;


}
h2{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #F5F5DC;
}
h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA500;
}

span{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #F5F5DC;
}